#Q1."""In the below elements which of them are values or an expression? eg:-
values can be integer or string and expressions will be mathematical operators."""

In [111]:
# "*" - mathematical expression
# "hello"- string value
# "-87.8" - float value
# "-"  -  mathematical expression
# "/"  -  Mathematical expression
# "+"  -  Mathematical expression
# "6"  -  integer value

In [4]:
2*3

6

In [10]:
type("hello")

str

In [11]:
type(-87.8)

float

In [12]:
8-6

2

In [13]:
21/3

7.0

In [14]:
3+4

7

In [15]:
type(6)

int

#2. What is the difference between string and variable?

In [109]:
#string and variable

#string: It is a value which can be written in single/dobule quotes.
#Variable: It is the thing in which we can store data just like a container.

#3. Describe three different data types.

In [118]:
# Integer:  It is a data type which can be only numeric like 1,2,10,57...
# String: It is a data type which can be written in qoutes only
# List: the list is used for storing multiple data items in a single variable.
# Float; This is a float type data like 2.5, 7.8...

In [3]:
int (2)

2

In [8]:
# no alfabets allow in integer type data base
int("India")

ValueError: invalid literal for int() with base 10: 'India'

In [9]:
str("India")

'India'

In [13]:
x = [2, 5,6,8,"Happy", " smile", "name", 9.99, 3+7j]

In [14]:
type(x)

list

In [15]:
type(2.5889)

float

 #4. What is an expression made up of? What do all expressions do?

In [ ]:
# Expression is made up of values, containers, and operands e.g a = 2 + 3
# Expressions are used to evaluate the values or represent the result on the screen.
#20+20-40 , Is an Expression, The Python Interpreter Evaluates it to 0

#5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [22]:
# Expression is made up of values, containers and operands, 
# and the statement is just like a command that a programming language (python) interpreter executes like print.
#which means that it finds the value of the expression.

#courseName = 'FullStack DataSciencec bootcamp' # Is a Statement
print("Hello World!") # Is a Expression Statement

Hello World!

#6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [26]:
#The variable bacon is set to 22.

bacon=22
bacon=bacon+1 
print(bacon)

23

#7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [30]:
#Both expressions evaluate to the string 'spamspamspam' Where as the first expression follows String Concatentation and the second expression follows String Multiplication

"spam" + "spamspam"

'spamspamspam'

In [29]:
"spam"*3

'spamspamspam'

#8. Why is eggs a valid variable name while 100 is invalid?

In [31]:
#As per python,Variable names cannot begin with a number. The python rules for naming a variable are :-

#Variable name must start with a letter or the underscore character.
#Variable name cannot start with a number.
#Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, & _ ).
#Variable names are case-sensitive (INEURON and ineuron are two different variables).
#The reserved words(keywords) cannot be used naming the variable.
egg='India' # Valid variable Initilization
100='hello' # Invalid Variable Initilization
print(egg) #prints the value of egg ie India
print(100) # Raises a Syntax Error as 100 is not a valid variable name

SyntaxError: cannot assign to literal (Temp/ipykernel_6192/3784624786.py, line 9)

#9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [38]:
# It can be str(), int(), float()
#print('int(10.0) -> ',int(10.0)) # int() function converts given input to int
#print('float(10) -> ',float(10)) # float() function converts given input to float
#print('str(10) -> ',str(10)) # str() function converts given input to string
#int(10.0) ->  10
#float(10) ->  10.0
#str(10) ->  10

In [34]:
int(10)

10

In [35]:
float(10)

10.0

In [39]:
str(10)

'10'

#10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [ ]:
# 'I have eaten is', 99 and 'burritos' there are two type of datatype I have eaten is, and burrios are a "str" and 99 is a "int", so we can fix it by convert 99 into a str datatype like this "99"
# Solution given below

In [46]:
print('I have eaten ' + str(99) + ' burritos.')

I have eaten 99 burritos.